<div class="it-fill">
	<it-side-menus>
		<!--<it-side-menu-header it-animate="true" it-hide-button-menu="!$root.user">-->
		<it-side-menu-header it-animate="true">
			<!-- Header Logo -->
			<div class="navbar-header">
				<a class="navbar-brand">
					<span><img src="assets/img/SCPA_Suppliers_50px.png"
							   width="32"
							   height="32" /></span>
					Robot Manager
				</a>
			</div>
		</it-side-menu-header>
		<it-side-menu>
			<!-- Side Menu -->
			<ul it-nav-active="active"
				class="nav navbar-nav nav-pills nav-stacked list-group">
				<li it-collapsed-item>
					<a href=""><h5><i class="fa fa-android" aria-hidden="true"></i>&nbsp;&nbsp;Robot</h5></a>
					<ul class="nav navbar-nav nav-pills nav-stacked it-menu-animated">
						<li>
							<a href="#/robot/hand">Hand</a>
						</li>
					</ul>
				</li>
				<li it-collapsed-item>
					<a href=""><h5><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;API</h5></a>
					<ul class="nav navbar-nav nav-pills nav-stacked it-menu-animated">
						<li>
							<a href="#/api/config">Config</a>
						</li>
					</ul>
				</li>
			</ul>
		</it-side-menu>
		<it-side-menu-content>
			<!-- WebApp Content -->

			<!-- Login view -->
			<!--<div ng-if="!$root.user" class="it-fill" ng-include="'app/features/login/loginView.html'"></div>-->

			<!-- View container -->
			<!--<div ng-if="$root.user" class="container-fluid it-fill">-->
			<!--<div class="container-fluid it-fill">-->
				<!--&lt;!&ndash; View title &ndash;&gt;-->
				<!--<div class="row"-->
					 <!--ng-show="$root.pageTitle && $root.pageTitle.length > 0">-->
					<!--<div class="it-view-header col-md-12">-->
						<!--<h3>{{$root.pageTitle | translate}}</h3>-->
						<!--<hr />-->
					<!--</div>-->
				<!--</div>-->
				<!--&lt;!&ndash; View content &ndash;&gt;-->
				<!--<div ng-view-->
					 <!--class="ng-view-class"></div>-->
			<!--</div>-->
			<div ng-view></div>
		</it-side-menu-content>
	</it-side-menus>
</div>